.album-container{
    padding: 5% 5% 5% 5%;
}

.big-pic-container{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.5);
    display: flex;

    z-index: 100;
}
   
.big-pic-container > img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
}


.arrow {
    z-index: 100;
    position: fixed;
    top: 50%;
    text-decoration: none;
    display: inline-block;
    padding: 12px 24px;
}
  
.arrow:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
}

.previous {
    left: 10%;
    background-color: #4CAF50;
    color: black;
}

.next {
    right: 10%;
    background-color: #4CAF50;
    color: black;
}

.round {
    border-radius: 50%;
}

.close {
    z-index: 100;
    position: fixed;
    left: 5%;
    top: 5%;
    width: 32px;
    height: 32px;
    opacity: 0.8;
  }
  .close:hover {
    opacity: 1;
    cursor: pointer;
  }
  .close:before, .close:after {
    position: fixed;
    left: 5%;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }



  .loader-popup {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
  
/* The actual popup (appears on top) */
.loader-popup .loader-text {
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 8px;
    z-index: 1;
    bottom: 125%;
    left: 50%;
}

.formulaire {
  z-index: 0;
}