<div class="component-title">
    <img src="../../../assets/img/add-album.png">
    <h1>Admin les albums de Manon</h1>
    <hr/>
    <br/>
</div>


<div class="form-groupe">
    <label for="nom">Chercher un album par nom : </label>
    <input type="text" class="form-control" [(ngModel)]="searchName" name="nom" required/>
    <hr/>
</div>


<div class="album-container">

<app-admin-album-card *ngFor="let album of albumList | albumsSearch : searchName" [alb]="album"></app-admin-album-card>

</div>
